<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'tags', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="row col-lg-12">
  <ul class="cp_tag01">
    <li><p><%= params[:tag_name] %></p></li>
  </ul>
</div>
<div class="row card_margin">
  <% unless @comedian.empty? %>
    <% @comedian.each_with_index do |com,i| %>
      <div class="card col-lg-4">
        <a href=<%= "/comedian/#{com.name}" %>>
        <div class="card-body clearfix">
          <div class="inner clearfix">
            <p class="card-title"><%= com.name %></p>
            <p class="card-subtitle mb-2 text-muted o_name"><%= @office[i][:name] %></p>
          </div>
          <div class="inner">
            <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
          </div>
        </div>
        </a>
      </div>
    <% end %>
  <% else %>
    <p>データがありません</p>
  <% end %>
</div>
<div style="margin-top:20px;"></div>
<div class="row col-lg-12">
  <div>
    <p class="bs-component">
      <a href='/'>
        <button type="button" class="btn btn-secondary">TOPへ</button>
      </a>
    </p>
  </div>
  <div style="margin-left:2vw;">
    <p class="bs-component">
      <a href='/tags'>
        <button type="button" class="btn btn-secondary">タグ一覧へ</button>
      </a>
    </p>
  </div>
</div>